.page {
	width: 100%;
	margin: 0 auto;

	&-content {
		width: 100%;
		margin: 0 auto;
	}
}

.home-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
