$darkGray: #414141;
$mustardYellow: #facd13;
$darkBlue: #3e5a9d;
$darkSaturatedBlue: #0e194c;
$white: #fff;
$limeGreen: #7bcf00;
$gray: #5a566a;
$royalBlue: #0076ff;
$yellow: #ffde00;
$magenta: #ff76ff;
$crimsonRed: #ff215b;
$orange: #ff9900;
$lightBlue: #89bdff;
$royalSaturatedBlue: #4e6aff;
$green: #1cd80e;
$verySaturatedOrange: #ff6b0d;
$tomato: #ff6c64;
$whitesmoke: #f1f3f7;
